/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


body {            

    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#content {
    height: 100%;
}

.playButton {
    margin:0px;
    font-size: 700%;
    width: 100%;
    height: 40%;


    background: #5dcfc9;
    background-image: -webkit-linear-gradient(top, #5dcfc9, #a4e3bd);
    background-image: -moz-linear-gradient(top, #5dcfc9, #a4e3bd);
    background-image: -ms-linear-gradient(top, #5dcfc9, #a4e3bd);
    background-image: -o-linear-gradient(top, #5dcfc9, #a4e3bd);
    background-image: linear-gradient(to bottom, #5dcfc9, #a4e3bd);
    font-family: Arial;
    color: #ffffff;
    padding: 0px 0px 0px 0px;
    text-decoration: none;

}

.playButton:hover {
    background: #0075b8;
    background-image: -webkit-linear-gradient(top, #0075b8, #66b8e8);
    background-image: -moz-linear-gradient(top, #0075b8, #66b8e8);
    background-image: -ms-linear-gradient(top, #0075b8, #66b8e8);
    background-image: -o-linear-gradient(top, #0075b8, #66b8e8);
    background-image: linear-gradient(to bottom, #0075b8, #66b8e8);
    text-decoration: none;
}

#startButton {
    width: 203px;
    height: 50px;
    font-size: 100%;

}

.menuButton {
    margin:0px;

    float:left;
    font-size: 200%;
    width: 50%;

    background: #4f4f4f;
    background-image: -webkit-linear-gradient(top, #4f4f4f, #808080);
    background-image: -moz-linear-gradient(top, #4f4f4f, #808080);
    background-image: -ms-linear-gradient(top, #4f4f4f, #808080);
    background-image: -o-linear-gradient(top, #4f4f4f, #808080);
    background-image: linear-gradient(to bottom, #4f4f4f, #808080);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}

.menuButton:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: -moz-linear-gradient(top, #000000, #000000);
    background-image: -ms-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #000000);
    text-decoration: none;
}

.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  width: 500px;
  height: 100%;
}